<div style="padding: 1em;">
  <h3>RWD (Responsive Web Design)</h3>
  <div class="card">
    <div class="card-image">
      <img class="materialboxed1" width="650" src="images/img_responsive_page.jpg">
    </div>
    <div class="card-content">
      <h5>Sample</h5>
    </div>
  </div>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://material.io" target="">Google Material Design</a>
      <a href="https://wcc723.gitbooks.io/google_design_translate/content">Google Material Design 正體中文版</a>
    </div>
  </div>
</div>
{{outlet}}