<div style="padding: 1em;">
  <h3>PWA (Progressive Web Apps)</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://developers.google.com/web/progressive-web-apps">Developers</a>
      <a href="https://pwa.rocks">Examples</a>
    </div>
  </div>
</div>
{{outlet}}