<div style="padding: 1em;">
  <h3>PWA (Progressive Web Apps)</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://material.io" target="">Google Material Design</a>
      <a href="https://wcc723.gitbooks.io/google_design_translate/content">Google Material Design 正體中文版</a>
    </div>
  </div>
</div>
{{outlet}}