<title>Material Design</title>
<div class="row">
  <div class="col s12 l6 offset-l3" style="padding: 0px;">
    <div class="card" style="margin: 0px;">
      <div class="center">
        <span>Material Design1</span>
      </div>
      <div>
        {{ember-youtube ytid="Q8TXgCzxEnw" width='100%' height=ytHeight}}
      </div>
    </div>
  </div>
</div>
{{outlet}}