{{ember-youtube ytid="Q8TXgCzxEnw" width='100%' height=ytHeight}}
<div style="padding: 1em;">
  <h3>Material Design</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://material.io">Google Material Design</a>
      <a href="https://wcc723.gitbooks.io/google_design_translate/content">Google Material Design 正體中文版</a>
      <a href="https://materializecss.com/">Materialize</a>
    </div>
  </div>
  <h3>Bootstrap</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://getbootstrap.com">官網</a>
    </div>
  </div>
  <h3>Semantic UI</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://semantic-ui.com/">官網</a>
    </div>
  </div>
</div>
{{outlet}}