<div style="padding: 1em;">
  <h3>Content Placeholder</h3>
  <div class="row">
    <div class="card">
      <div class="card-image">
        <img class="materialboxed1" width="650" src="images/cp1.png">
      </div>
      <div class="card-content">
        <h5>Sample 1</h5>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img class="materialboxed1" width="650" src="images/cp2.png">
      </div>
      <div class="card-content">
        <h5>Sample 2</h5>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img class="materialboxed1" width="650" src="images/cp4.png">
      </div>
      <div class="card-content">
        <h5>Sample 3</h5>
      </div>
    </div>
  </div>
  <h3>Preloader</h3>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <h4>Linear</h4>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <h4>Circular</h4>

        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>

        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}