<div style="padding: 1em;">
  <h3>PWA (Progressive Web Apps)</h3>
  <div>
    <div class="row">
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="images/pwa1.jpg">
          </div>
          <div class="card-content">
            <h5>Example 1</h5>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img src="images/pwa2.jpg">
          </div>
          <div class="card-content">
            <h5>Example 2</h5>
          </div>
        </div>
      </div>
    </div>

    相關連結
    <div class="info-area">
      <a href="https://developers.google.com/web/progressive-web-apps">Developers</a>
      <a href="https://pwa.rocks">Examples</a>
    </div>
  </div>
</div>