<div class="fixed-action-btn direction-top active" style="top: 0px; right: 0px; padding-top: 0px;">
  <div class="page center">
    {{p}}
  </div>
</div>

<div class="row">
  <div class="col s12 l6 offset-l3 " style="padding: 0px;">
    {{liquid-outlet}}
  </div>
</div>


{{#if (gt p 0)}}
  <div class="fixed-action-btn direction-top" style="bottom: 25px; left: 25px;">
    <a id="menu" class="btn btn-floating btn-large light-blue waves-effect waves-light waves-circle" {{action "back" p}}>
      <i class="material-icons">chevron_left</i>
    </a>
  </div>
{{/if}}
{{#if (lt p pageMax)}}
  <div class="fixed-action-btn direction-top active" style="bottom: 25px; right: 25px;">
    <a id="menu" class="btn btn-floating btn-large light-blue waves-effect waves-light waves-circle" {{action "next" p}}>
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
{{/if}}
