<div style="padding: 1em;">
  <div class="center">
    <img width="250" src="icon.png">
    <h3>中華中學資訊研習</h3>
    <h5>近期網站與大數據的發展及相關技術</h5>
    <br/><br/>
    <h5>主講人：黃忠海</h5>
  </div>

  <div class="fixed-action-btn direction-top" style="bottom: 25px; left: 25px;">
    v0.0.0
  </div>
</div>
{{outlet}}