<div style="padding: 1em;">
  <h3>Apache Kafka</h3>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://kafka.apache.org/" target="">官網</a>
      <a href="https://en.wikipedia.org/wiki/Apache_Kafka">Wiki</a>
    </div>
  </div>
</div>