<div style="padding: 1em;">
  <h4>JS(Javascript) Frameworks</h4>
  <h5>Angular JS</h5>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://angular.io">官網</a>
      <a href="https://cli.angular.io/">CLI(Command-line interface)</a>
    </div>
  </div>
  <h5>Ember JS</h5>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://www.emberjs.com">官網</a>
      <a href="https://ember-cli.com">CLI(Command-line interface)</a>
    </div>
  </div>
  <h5>React JS</h5>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://reactjs.org">官網</a>
    </div>
  </div>
  <h5>Vue JS</h5>
  <div>
    相關連結
    <div class="info-area">
      <a href="https://vuejs.org">官網</a>
      <a href="https://cli.vuejs.org">CLI(Command-line interface)</a>
    </div>
  </div>
  <h5>etc...</h5>
</div>